.cart {
  margin: 2rem auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.cart_items {
  flex: 0.7;
  margin-right: 1rem;
}

.cart_resumo {
  height: 250px;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.resumo_title {
  font-size: 1.2rem;
  font-weight: bold;
}

.resumo_price {
  display: flex;
  align-items: center;
}

.resumo_price span:nth-child(1) {
  font-size: 0.9rem;
  flex: 0.6;
}

.resumo_price span:nth-child(2) {
  flex: 0.4;
  font-size: 1.2rem;
  font-weight: bold;
}

.resumo_confirmBtn {
  padding: 10px 17px;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  background: var(--color-secondary);
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
