.cartItem {
  margin-bottom: 1rem;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.cartItem_image {
  width: 350px;
  object-fit: contain;
  border-radius: 10px;
}

.cartItem_infos {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-primary);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.descript {
  font-size: 1rem;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-secondary);
}

.cartItem_actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.6rem;
}

.cartItem_qtd {
  display: flex;
  align-items: center;
}

.cartItem_qtd input {
  padding: 10px;
  margin-left: 0.4rem;
  width: 60px;
  border-radius: 10px;
  border: 1px solid var(--color-secondary);
  outline: none;
}

.actions_deleteItemBtn {
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-secondary);
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
  outline: none;
}

.actions_deleteItemBtn:hover {
  transform: scale(1.2) rotate(360deg);
}

.actions_deleteItemBtn img {
  width: 25px;
  height: 25px;
}
